<a href="https://colab.research.google.com/github/ceccode/mlbookcamp/blob/main/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

version of Python

In [28]:
!python --version

Python 3.7.11

version of NumPy

In [29]:
import numpy as np
print(np.__version__)

1.19.5

version of Pandas

In [30]:
import pandas as pd
pd.__version__

'1.1.5'

Import csv

In [31]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
df1 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

print(df1)

          Make       Model  Year  ... city mpg  Popularity   MSRP
0          BMW  1 Series M  2011  ...       19        3916  46135
1          BMW    1 Series  2011  ...       19        3916  40650
2          BMW    1 Series  2011  ...       20        3916  36350
3          BMW    1 Series  2011  ...       18        3916  29450
4          BMW    1 Series  2011  ...       18        3916  34500
...        ...         ...   ...  ...      ...         ...    ...
11909    Acura         ZDX  2012  ...       16         204  46120
11910    Acura         ZDX  2012  ...       16         204  56670
11911    Acura         ZDX  2012  ...       16         204  50620
11912    Acura         ZDX  2013  ...       16         204  50920
11913  Lincoln      Zephyr  2006  ...       17          61  28995

[11914 rows x 16 columns]

In [32]:
df1.shape

(11914, 16)

What's the average price of BMW cars in the dataset?

In [33]:
df1["MSRP"].mean()

40594.737032063116

In [34]:
cars_prices = df1[["Make", "MSRP"]]
cars_prices.shape

(11914, 2)

In [35]:
cars_prices.head()

  Make   MSRP
0  BMW  46135
1  BMW  40650
2  BMW  36350
3  BMW  29450
4  BMW  34500

In [36]:
BMW_cars = cars_prices["Make"] == "BMW"
BMW_cars.head(100)

0      True
1      True
2      True
3      True
4      True
      ...
95    False
96    False
97    False
98    False
99    False
Name: Make, Length: 100, dtype: bool

In [37]:
BMW_cars.shape

(11914,)

In [38]:
BMW_cars_prices = cars_prices[(BMW_cars)]
BMW_cars_prices.head(3)

  Make   MSRP
0  BMW  46135
1  BMW  40650
2  BMW  36350

In [39]:
print(BMW_cars_prices.shape)
BMW_cars_prices.isna()

(334, 2)

        Make   MSRP
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
...      ...    ...
11901  False  False
11902  False  False
11903  False  False
11904  False  False
11905  False  False

[334 rows x 2 columns]

In [40]:
BMW_cars_prices.mean()

MSRP    61546.763473
dtype: float64

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after)

In [41]:
df_year_u2015 = df1.loc[df1['Year'] >= 2015]

How many of them have missing values for Engine HP?

In [42]:
print(df_year_u2015.isnull().sum())

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Calculate the average "Engine HP" in the dataset

In [43]:
print(round(df_year_u2015['Engine HP'].mean()))

df_year_u2015_filled = df_year_u2015.fillna(df_year_u2015['Engine HP'].mean())
print(round(df_year_u2015_filled['Engine HP'].mean()))

273
273

Select all the "Rolls-Royce" cars from the dataset.

In [45]:
df_rolls_royce = df1.loc[df1['Make'] == 'Rolls-Royce']
df_rolls_royce

              Make                   Model  Year  ... city mpg  Popularity    MSRP
2921   Rolls-Royce                Corniche  2001  ...       10          86  359990
3505   Rolls-Royce                    Dawn  2016  ...       12          86  335000
5275   Rolls-Royce         Ghost Series II  2015  ...       13          86  286750
5276   Rolls-Royce         Ghost Series II  2015  ...       13          86  319400
5277   Rolls-Royce         Ghost Series II  2016  ...       13          86  295850
5278   Rolls-Royce         Ghost Series II  2016  ...       13          86  329325
5279   Rolls-Royce                   Ghost  2012  ...       13          86  250000
5280   Rolls-Royce                   Ghost  2012  ...       13          86  290000
5281   Rolls-Royce                   Ghost  2013  ...       13          86  296000
5282   Rolls-Royce                   Ghost  2013  ...       13          86  256650
5283   Rolls-Royce                   Ghost  2014  ...       13          86  263200
5284   Rolls-Royce                   Ghost  2014  ...       13          86  303300
7443   Rolls-Royce               Park Ward  2001  ...       11          86  259900
7444   Rolls-Royce               Park Ward  2002  ...       11          86  262990
7553   Rolls-Royce           Phantom Coupe  2014  ...       11          86  433550
7554   Rolls-Royce           Phantom Coupe  2015  ...       11          86  438325
7555   Rolls-Royce           Phantom Coupe  2016  ...       11          86  449525
7556   Rolls-Royce  Phantom Drophead Coupe  2014  ...       11          86  474600
7557   Rolls-Royce  Phantom Drophead Coupe  2015  ...       11          86  479775
7558   Rolls-Royce  Phantom Drophead Coupe  2016  ...       11          86  492000
7559   Rolls-Royce                 Phantom  2014  ...       11          86  402940
7560   Rolls-Royce                 Phantom  2014  ...       11          86  474990
7561   Rolls-Royce                 Phantom  2015  ...       11          86  407400
7562   Rolls-Royce                 Phantom  2015  ...       11          86  480175
7563   Rolls-Royce                 Phantom  2016  ...       11          86  417825
7564   Rolls-Royce                 Phantom  2016  ...       11          86  492425
9431   Rolls-Royce           Silver Seraph  2001  ...       11          86  219900
9432   Rolls-Royce           Silver Seraph  2002  ...       11          86  229990
11448  Rolls-Royce                  Wraith  2014  ...       13          86  284900
11449  Rolls-Royce                  Wraith  2015  ...       13          86  294025
11450  Rolls-Royce                  Wraith  2016  ...       13          86  304350

[31 rows x 16 columns]

Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
drop all duplicated rows using drop_duplicates

In [47]:
df_rolls_royce_no_dup = df_rolls_royce[['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates()

Get the underlying NumPy array. Let's call it X

In [48]:
X = df_rolls_royce_no_dup.to_numpy()

Compute matrix-matrix multiplication between the transpose of X and X. 
To get the transpose, use X.T. Let's call the result XTX.

In [49]:
XT = X.T
XTX = np.matmul(XT, X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

Invert XTX.

In [50]:
XTXinv = np.linalg.inv(XTX)
XTXinv

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

um of all the elements of the result

In [53]:
np.matrix(XTXinv).sum()

0.032212320677486125

Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. 

Call the result w.

In [52]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
XXX = np.matmul(XTXinv, XT)
w = np.matmul(XXX, y)
w[0]

0.19989598183188978